{
  "openapi": "3.0.3",
  "info": {
    "title": "Online-Radio",
    "description": "Online-Radio",
    "termsOfService": "http://ingress-dev.ma/vwasp-dev-onlineradio-bff-hu",
    "contact": {
      "name": "ma",
      "url": "https://www.google.com",
      "email": "https://www.google.com"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "http://ingress-sit.ma:80",
      "description": "Inferred Url"
    }
  ],
  "tags": [
    {
      "name": "basic-error-controller",
      "description": "Basic Error Controller"
    },
    {
      "name": "内容模块接口",
      "description": "Content Controller"
    },
    {
      "name": "基础模块接口",
      "description": "Basic Controller"
    },
    {
      "name": "搜索模块接口",
      "description": "Search Controller"
    },
    {
      "name": "收藏模块接口",
      "description": "Favorite Controller"
    },
    {
      "name": "用户信息模块接口",
      "description": "User Controller"
    }
  ],
  "paths": {
    "/onlineradio/api/v1/openPay/getPlayInfo": {
      "get": {
        "tags": [
          "基础模块接口"
        ],
        "summary": "【vwasp-onlineradio-0101】获取播放信息",
        "operationId": "getPlayInfoUsingGET",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "语言：zh_CN,en_US;默认为中文",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户Token :“Bearer” + 英文空格 + access token",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json;charset=utf-8",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Unix time stamp",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "TraceId",
            "in": "header",
            "description": "全链路Id",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientOsType",
            "in": "header",
            "description": "设备类型: 1-IOS、 2-Android、 3-Web、 4-Linux/Server、 5-Ecos、 6-mini program",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "role",
            "in": "header",
            "description": "用户角色",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trackId",
            "in": "query",
            "description": "trackId",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "userId",
            "in": "header",
            "description": "用户ID",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vin",
            "in": "header",
            "description": "车辆vin",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HU响应结果OfHU音频播放信息实体类"
                }
              }
            }
          }
        }
      }
    },
    "/onlineradio/api/v1/playHistory/add": {
      "post": {
        "tags": [
          "基础模块接口"
        ],
        "summary": "【vwasp-onlineradio-0103】批量上传⽤户播放记录",
        "operationId": "uploadPlayHistoryUsingPOST",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "语言：zh_CN,en_US;默认为中文",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户Token :“Bearer” + 英文空格 + access token",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json;charset=utf-8",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Unix time stamp",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "TraceId",
            "in": "header",
            "description": "全链路Id",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientOsType",
            "in": "header",
            "description": "设备类型: 1-IOS、 2-Android、 3-Web、 4-Linux/Server、 5-Ecos、 6-mini program",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "role",
            "in": "header",
            "description": "用户角色",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "header",
            "description": "用户ID",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vin",
            "in": "header",
            "description": "车辆vin",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/播放记录实体类"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HU响应结果Ofboolean"
                }
              }
            }
          }
        }
      }
    },
    "/onlineradio/api/v1/playHistory/delete": {
      "post": {
        "tags": [
          "基础模块接口"
        ],
        "summary": "【vwasp-onlineradio-0104】批量删除⽤户播放记录",
        "operationId": "deletePlayHistoryUsingPOST",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "语言：zh_CN,en_US;默认为中文",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户Token :“Bearer” + 英文空格 + access token",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json;charset=utf-8",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Unix time stamp",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "TraceId",
            "in": "header",
            "description": "全链路Id",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientOsType",
            "in": "header",
            "description": "设备类型: 1-IOS、 2-Android、 3-Web、 4-Linux/Server、 5-Ecos、 6-mini program",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "role",
            "in": "header",
            "description": "用户角色",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "header",
            "description": "用户ID",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vin",
            "in": "header",
            "description": "车辆vin",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/播放记录删除实体类"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HU响应结果Ofboolean"
                }
              }
            }
          }
        }
      }
    },
    "/onlineradio/api/v1/playHistory/getByUid": {
      "get": {
        "tags": [
          "基础模块接口"
        ],
        "summary": "【vwasp-onlineradio-0102】获取用户播放历史",
        "operationId": "getPlayHistoryByUidUsingGET",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "语言：zh_CN,en_US;默认为中文",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户Token :“Bearer” + 英文空格 + access token",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json;charset=utf-8",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Unix time stamp",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "TraceId",
            "in": "header",
            "description": "全链路Id",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category_id",
            "in": "query",
            "description": "专辑分类id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "clientOsType",
            "in": "header",
            "description": "设备类型: 1-IOS、 2-Android、 3-Web、 4-Linux/Server、 5-Ecos、 6-mini program",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "role",
            "in": "header",
            "description": "用户角色",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "header",
            "description": "用户ID",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vin",
            "in": "header",
            "description": "车辆vin",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HU响应结果OfHU分页结果Of喜马拉雅播放历史实体"
                }
              }
            }
          }
        }
      }
    },
    "/error": {
      "get": {
        "tags": [
          "basic-error-controller"
        ],
        "summary": "error",
        "operationId": "errorUsingGET",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "语言：zh_CN,en_US;默认为中文",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户Token :“Bearer” + 英文空格 + access token",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json;charset=utf-8",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Unix time stamp",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "TraceId",
            "in": "header",
            "description": "全链路Id",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientOsType",
            "in": "header",
            "description": "设备类型: 1-IOS、 2-Android、 3-Web、 4-Linux/Server、 5-Ecos、 6-mini program",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "role",
            "in": "header",
            "description": "用户角色",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "header",
            "description": "用户ID",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vin",
            "in": "header",
            "description": "车辆vin",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "basic-error-controller"
        ],
        "summary": "error",
        "operationId": "errorUsingPUT",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "语言：zh_CN,en_US;默认为中文",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户Token :“Bearer” + 英文空格 + access token",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json;charset=utf-8",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Unix time stamp",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "TraceId",
            "in": "header",
            "description": "全链路Id",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientOsType",
            "in": "header",
            "description": "设备类型: 1-IOS、 2-Android、 3-Web、 4-Linux/Server、 5-Ecos、 6-mini program",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "role",
            "in": "header",
            "description": "用户角色",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "header",
            "description": "用户ID",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vin",
            "in": "header",
            "description": "车辆vin",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "basic-error-controller"
        ],
        "summary": "error",
        "operationId": "errorUsingPOST",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "语言：zh_CN,en_US;默认为中文",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户Token :“Bearer” + 英文空格 + access token",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json;charset=utf-8",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Unix time stamp",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "TraceId",
            "in": "header",
            "description": "全链路Id",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientOsType",
            "in": "header",
            "description": "设备类型: 1-IOS、 2-Android、 3-Web、 4-Linux/Server、 5-Ecos、 6-mini program",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "role",
            "in": "header",
            "description": "用户角色",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "header",
            "description": "用户ID",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vin",
            "in": "header",
            "description": "车辆vin",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "basic-error-controller"
        ],
        "summary": "error",
        "operationId": "errorUsingDELETE",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "语言：zh_CN,en_US;默认为中文",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户Token :“Bearer” + 英文空格 + access token",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json;charset=utf-8",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Unix time stamp",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "TraceId",
            "in": "header",
            "description": "全链路Id",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientOsType",
            "in": "header",
            "description": "设备类型: 1-IOS、 2-Android、 3-Web、 4-Linux/Server、 5-Ecos、 6-mini program",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "role",
            "in": "header",
            "description": "用户角色",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "header",
            "description": "用户ID",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vin",
            "in": "header",
            "description": "车辆vin",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      },
      "options": {
        "tags": [
          "basic-error-controller"
        ],
        "summary": "error",
        "operationId": "errorUsingOPTIONS",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "语言：zh_CN,en_US;默认为中文",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户Token :“Bearer” + 英文空格 + access token",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json;charset=utf-8",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Unix time stamp",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "TraceId",
            "in": "header",
            "description": "全链路Id",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientOsType",
            "in": "header",
            "description": "设备类型: 1-IOS、 2-Android、 3-Web、 4-Linux/Server、 5-Ecos、 6-mini program",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "role",
            "in": "header",
            "description": "用户角色",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "header",
            "description": "用户ID",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vin",
            "in": "header",
            "description": "车辆vin",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      },
      "head": {
        "tags": [
          "basic-error-controller"
        ],
        "summary": "error",
        "operationId": "errorUsingHEAD",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "语言：zh_CN,en_US;默认为中文",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户Token :“Bearer” + 英文空格 + access token",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json;charset=utf-8",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Unix time stamp",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "TraceId",
            "in": "header",
            "description": "全链路Id",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientOsType",
            "in": "header",
            "description": "设备类型: 1-IOS、 2-Android、 3-Web、 4-Linux/Server、 5-Ecos、 6-mini program",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "role",
            "in": "header",
            "description": "用户角色",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "header",
            "description": "用户ID",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vin",
            "in": "header",
            "description": "车辆vin",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "basic-error-controller"
        ],
        "summary": "error",
        "operationId": "errorUsingPATCH",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "语言：zh_CN,en_US;默认为中文",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户Token :“Bearer” + 英文空格 + access token",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json;charset=utf-8",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Unix time stamp",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "TraceId",
            "in": "header",
            "description": "全链路Id",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientOsType",
            "in": "header",
            "description": "设备类型: 1-IOS、 2-Android、 3-Web、 4-Linux/Server、 5-Ecos、 6-mini program",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "role",
            "in": "header",
            "description": "用户角色",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "header",
            "description": "用户ID",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vin",
            "in": "header",
            "description": "车辆vin",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      },
      "trace": {
        "tags": [
          "basic-error-controller"
        ],
        "summary": "error",
        "operationId": "errorUsingTRACE",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "语言：zh_CN,en_US;默认为中文",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户Token :“Bearer” + 英文空格 + access token",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json;charset=utf-8",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Unix time stamp",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "TraceId",
            "in": "header",
            "description": "全链路Id",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientOsType",
            "in": "header",
            "description": "设备类型: 1-IOS、 2-Android、 3-Web、 4-Linux/Server、 5-Ecos、 6-mini program",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "role",
            "in": "header",
            "description": "用户角色",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "header",
            "description": "用户ID",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vin",
            "in": "header",
            "description": "车辆vin",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/onlineradio/api/v1/albums/browse": {
      "get": {
        "tags": [
          "内容模块接口"
        ],
        "summary": "【vwasp-onlineradio-0126】获取指定专辑的音频列表",
        "operationId": "getTracksByAlbumIdUsingGET",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "语言：zh_CN,en_US;默认为中文",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户Token :“Bearer” + 英文空格 + access token",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json;charset=utf-8",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Unix time stamp",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "TraceId",
            "in": "header",
            "description": "全链路Id",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "albumId",
            "in": "query",
            "description": "专辑ID",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "clientOsType",
            "in": "header",
            "description": "设备类型: 1-IOS、 2-Android、 3-Web、 4-Linux/Server、 5-Ecos、 6-mini program",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "当前页, 默认1",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "页大小， 默认10",
            "required": false,
            "style": "form",
            "schema": {
              "maximum": 50,
              "exclusiveMaximum": false,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "role",
            "in": "header",
            "description": "用户角色",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "返回结果的排序方式：asc-喜马拉雅正序，desc-喜马拉雅逆序，time_asc-发布时间升序，time_desc-发布时间降序，默认为 asc",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "header",
            "description": "用户ID",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vin",
            "in": "header",
            "description": "车辆vin",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HU响应结果OfHU分页结果Of专辑曲目完整信息"
                }
              }
            }
          }
        }
      }
    },
    "/onlineradio/api/v1/albums/list": {
      "get": {
        "tags": [
          "内容模块接口"
        ],
        "summary": "【vwasp-onlineradio-0125】获取指定专辑分类的专辑列表",
        "operationId": "getAlbumsByCategoryUsingGET",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "语言：zh_CN,en_US;默认为中文",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户Token :“Bearer” + 英文空格 + access token",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json;charset=utf-8",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Unix time stamp",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "TraceId",
            "in": "header",
            "description": "全链路Id",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "calcDimension",
            "in": "query",
            "description": "排序维度（1-hottest,2-newest,3-playedmost）",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "categoryId",
            "in": "query",
            "description": "专辑分类ID",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "clientOsType",
            "in": "header",
            "description": "设备类型: 1-IOS、 2-Android、 3-Web、 4-Linux/Server、 5-Ecos、 6-mini program",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "当前页, 默认1",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "页大小， 默认10",
            "required": false,
            "style": "form",
            "schema": {
              "maximum": 50,
              "exclusiveMaximum": false,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "role",
            "in": "header",
            "description": "用户角色",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagName",
            "in": "query",
            "description": "专辑分类标签名",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "header",
            "description": "用户ID",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vin",
            "in": "header",
            "description": "车辆vin",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HU响应结果OfHU分页结果Of专辑信息完整信息实体"
                }
              }
            }
          }
        }
      }
    },
    "/onlineradio/api/v1/categories/list": {
      "get": {
        "tags": [
          "内容模块接口"
        ],
        "summary": "【vwasp-onlineradio-0123】获取专辑分类列表",
        "operationId": "getAlbumCategoriesUsingGET",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "语言：zh_CN,en_US;默认为中文",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户Token :“Bearer” + 英文空格 + access token",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json;charset=utf-8",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Unix time stamp",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "TraceId",
            "in": "header",
            "description": "全链路Id",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientOsType",
            "in": "header",
            "description": "设备类型: 1-IOS、 2-Android、 3-Web、 4-Linux/Server、 5-Ecos、 6-mini program",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "当前页, 默认1",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "页大小， 默认10",
            "required": false,
            "style": "form",
            "schema": {
              "maximum": 50,
              "exclusiveMaximum": false,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "role",
            "in": "header",
            "description": "用户角色",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "header",
            "description": "用户ID",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vin",
            "in": "header",
            "description": "车辆vin",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HU响应结果OfHU分页结果OfHU专辑分类实体类"
                }
              }
            }
          }
        }
      }
    },
    "/onlineradio/api/v1/live/playingProgram": {
      "get": {
        "tags": [
          "内容模块接口"
        ],
        "summary": "【vwasp-onlineradio-0135】获取指定id的电台正在播放的节⽬",
        "operationId": "getPlayingProgramUsingGET",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "语言：zh_CN,en_US;默认为中文",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户Token :“Bearer” + 英文空格 + access token",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json;charset=utf-8",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Unix time stamp",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "TraceId",
            "in": "header",
            "description": "全链路Id",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientOsType",
            "in": "header",
            "description": "设备类型: 1-IOS、 2-Android、 3-Web、 4-Linux/Server、 5-Ecos、 6-mini program",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "radioId",
            "in": "query",
            "description": "⼴播电台的ID",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "role",
            "in": "header",
            "description": "用户角色",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "header",
            "description": "用户ID",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vin",
            "in": "header",
            "description": "车辆vin",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HU响应结果OfHU广播电台节目信息实体类"
                }
              }
            }
          }
        }
      }
    },
    "/onlineradio/api/v1/live/schedules": {
      "get": {
        "tags": [
          "内容模块接口"
        ],
        "summary": "【vwasp-onlineradio-0136】获取指定广播电台某一天的节目时间表",
        "operationId": "getRadioSchedulesUsingGET",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "语言：zh_CN,en_US;默认为中文",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户Token :“Bearer” + 英文空格 + access token",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json;charset=utf-8",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Unix time stamp",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "TraceId",
            "in": "header",
            "description": "全链路Id",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientOsType",
            "in": "header",
            "description": "设备类型: 1-IOS、 2-Android、 3-Web、 4-Linux/Server、 5-Ecos、 6-mini program",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "radioId",
            "in": "query",
            "description": "⼴播电台的ID",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "role",
            "in": "header",
            "description": "用户角色",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "header",
            "description": "用户ID",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vin",
            "in": "header",
            "description": "车辆vin",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "weekday",
            "in": "query",
            "description": "星期几（0-星期日、1-星期一、2-星期二、3-星期三、4-星期四、5-星期五、6-星期六，默认为一周中的天数）ß",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HU响应结果OfListOfHU广播节目时间表实体类"
                }
              }
            }
          }
        }
      }
    },
    "/onlineradio/api/v1/localRadios/browse": {
      "get": {
        "tags": [
          "内容模块接口"
        ],
        "summary": "【vwasp-onlineradio-0132】通过地理位置获取广播电台列表",
        "operationId": "getRadiosByLocationUsingGET",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "语言：zh_CN,en_US;默认为中文",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户Token :“Bearer” + 英文空格 + access token",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json;charset=utf-8",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Unix time stamp",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "TraceId",
            "in": "header",
            "description": "全链路Id",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "areaCode",
            "in": "query",
            "description": "⾏政区划码（经纬度为空时必填）",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientOsType",
            "in": "header",
            "description": "设备类型: 1-IOS、 2-Android、 3-Web、 4-Linux/Server、 5-Ecos、 6-mini program",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "ip",
            "in": "query",
            "description": "客户端IP地址，经纬度不准确时辅助定位",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "纬度（areaCode为空时必填）",
            "required": false,
            "style": "form",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "经度（areaCode为空时必填）",
            "required": false,
            "style": "form",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "当前页, 默认1",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "页大小， 默认10",
            "required": false,
            "style": "form",
            "schema": {
              "maximum": 50,
              "exclusiveMaximum": false,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "role",
            "in": "header",
            "description": "用户角色",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "header",
            "description": "用户ID",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vin",
            "in": "header",
            "description": "车辆vin",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HU响应结果OfHU分页结果Of喜马拉雅广播电台信息实体"
                }
              }
            }
          }
        }
      }
    },
    "/onlineradio/api/v1/pay/rankAlbums": {
      "get": {
        "tags": [
          "内容模块接口"
        ],
        "summary": "【vwasp-onlineradio-0128】最佳选择",
        "operationId": "premiumAlbumsUsingGET",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "语言：zh_CN,en_US;默认为中文",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户Token :“Bearer” + 英文空格 + access token",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json;charset=utf-8",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Unix time stamp",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "TraceId",
            "in": "header",
            "description": "全链路Id",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientOsType",
            "in": "header",
            "description": "设备类型: 1-IOS、 2-Android、 3-Web、 4-Linux/Server、 5-Ecos、 6-mini program",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "当前页, 默认1",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "页大小， 默认10",
            "required": false,
            "style": "form",
            "schema": {
              "maximum": 50,
              "exclusiveMaximum": false,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "rankKey",
            "in": "query",
            "description": "榜单列表ID",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role",
            "in": "header",
            "description": "用户角色",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "header",
            "description": "用户ID",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vin",
            "in": "header",
            "description": "车辆vin",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HU响应结果OfHU分页结果Of喜马拉雅专辑付费信息实体类"
                }
              }
            }
          }
        }
      }
    },
    "/onlineradio/api/v1/ranks": {
      "get": {
        "tags": [
          "内容模块接口"
        ],
        "summary": "【vwasp-onlineradio-0121】获取专辑或⾳频榜单列表",
        "operationId": "getRanksUsingGET",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "语言：zh_CN,en_US;默认为中文",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户Token :“Bearer” + 英文空格 + access token",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json;charset=utf-8",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Unix time stamp",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "TraceId",
            "in": "header",
            "description": "全链路Id",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientOsType",
            "in": "header",
            "description": "设备类型: 1-IOS、 2-Android、 3-Web、 4-Linux/Server、 5-Ecos、 6-mini program",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "kind",
            "in": "query",
            "description": "榜单类型 album：专辑 track：音频",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "当前页，默认1",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "页大小，默认20",
            "required": false,
            "style": "form",
            "schema": {
              "maximum": 50,
              "exclusiveMaximum": false,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "role",
            "in": "header",
            "description": "用户角色",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "header",
            "description": "用户ID",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vin",
            "in": "header",
            "description": "车辆vin",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HU响应结果OfHU分页结果OfHU榜单实体类"
                }
              }
            }
          }
        }
      }
    },
    "/onlineradio/api/v1/ranks/{id}": {
      "get": {
        "tags": [
          "内容模块接口"
        ],
        "summary": "【vwasp-onlineradio-0122】获取指定ID的榜单内的条目信息",
        "operationId": "getTankItemsUsingGET",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "语言：zh_CN,en_US;默认为中文",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户Token :“Bearer” + 英文空格 + access token",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json;charset=utf-8",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Unix time stamp",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "TraceId",
            "in": "header",
            "description": "全链路Id",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientOsType",
            "in": "header",
            "description": "设备类型: 1-IOS、 2-Android、 3-Web、 4-Linux/Server、 5-Ecos、 6-mini program",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "role",
            "in": "header",
            "description": "用户角色",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "header",
            "description": "用户ID",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vin",
            "in": "header",
            "description": "车辆vin",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "pageIndex",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "pageSize",
            "required": false,
            "style": "form",
            "schema": {
              "maximum": 50,
              "exclusiveMaximum": false,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HU响应结果OfHU榜单分页实体类"
                }
              }
            }
          }
        }
      }
    },
    "/onlineradio/api/v1/recommendations": {
      "get": {
        "tags": [
          "内容模块接口"
        ],
        "summary": "【vwasp-onlineradio-0127】每日推荐",
        "operationId": "getRecommendationsUsingGET",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "语言：zh_CN,en_US;默认为中文",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户Token :“Bearer” + 英文空格 + access token",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json;charset=utf-8",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Unix time stamp",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "TraceId",
            "in": "header",
            "description": "全链路Id",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientOsType",
            "in": "header",
            "description": "设备类型: 1-IOS、 2-Android、 3-Web、 4-Linux/Server、 5-Ecos、 6-mini program",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "kind",
            "in": "query",
            "description": "推荐类型 album-专辑 track-音频 announcer-主播 目前只有album，默认为album",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "当前页, 默认1",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "页大小， 默认3",
            "required": false,
            "style": "form",
            "schema": {
              "maximum": 50,
              "exclusiveMaximum": false,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "role",
            "in": "header",
            "description": "用户角色",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "header",
            "description": "用户ID",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vin",
            "in": "header",
            "description": "车辆vin",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HU响应结果OfHU分页结果Of喜马拉雅专辑付费信息实体类"
                }
              }
            }
          }
        }
      }
    },
    "/onlineradio/api/v1/tags/list": {
      "get": {
        "tags": [
          "内容模块接口"
        ],
        "summary": "【vwasp-onlineradio-0124】获取专辑分类下的标签列表（元数据）",
        "operationId": "getCategoryTagsUsingGET",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "语言：zh_CN,en_US;默认为中文",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户Token :“Bearer” + 英文空格 + access token",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json;charset=utf-8",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Unix time stamp",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "TraceId",
            "in": "header",
            "description": "全链路Id",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categoryId",
            "in": "query",
            "description": "专辑分类",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "clientOsType",
            "in": "header",
            "description": "设备类型: 1-IOS、 2-Android、 3-Web、 4-Linux/Server、 5-Ecos、 6-mini program",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "当前页, 默认1",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "页大小， 默认10",
            "required": false,
            "style": "form",
            "schema": {
              "maximum": 50,
              "exclusiveMaximum": false,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "role",
            "in": "header",
            "description": "用户角色",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "header",
            "description": "用户ID",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vin",
            "in": "header",
            "description": "车辆vin",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HU响应结果OfHU分页结果OfHU专辑分类标签实体类"
                }
              }
            }
          }
        }
      }
    },
    "/onlineradio/api/v1/vip/recommendation": {
      "get": {
        "tags": [
          "内容模块接口"
        ],
        "summary": "【vwasp-onlineradio-0129】VIP推荐",
        "operationId": "vipRecommendationUsingGET",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "语言：zh_CN,en_US;默认为中文",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户Token :“Bearer” + 英文空格 + access token",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json;charset=utf-8",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Unix time stamp",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "TraceId",
            "in": "header",
            "description": "全链路Id",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientOsType",
            "in": "header",
            "description": "设备类型: 1-IOS、 2-Android、 3-Web、 4-Linux/Server、 5-Ecos、 6-mini program",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "当前页, 默认1",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "页大小， 默认10",
            "required": false,
            "style": "form",
            "schema": {
              "maximum": 50,
              "exclusiveMaximum": false,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "rankKey",
            "in": "query",
            "description": "榜单列表ID",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role",
            "in": "header",
            "description": "用户角色",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "header",
            "description": "用户ID",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vin",
            "in": "header",
            "description": "车辆vin",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HU响应结果OfHU分页结果Of喜马拉雅专辑付费信息实体类"
                }
              }
            }
          }
        }
      }
    },
    "/onlineradio/api/v1/collection/add": {
      "post": {
        "tags": [
          "收藏模块接口"
        ],
        "summary": "【vwasp-onlineradio-0151】添加收藏",
        "operationId": "addCollectionUsingPOST",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "语言：zh_CN,en_US;默认为中文",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户Token :“Bearer” + 英文空格 + access token",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json;charset=utf-8",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Unix time stamp",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "TraceId",
            "in": "header",
            "description": "全链路Id",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientOsType",
            "in": "header",
            "description": "设备类型: 1-IOS、 2-Android、 3-Web、 4-Linux/Server、 5-Ecos、 6-mini program",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "role",
            "in": "header",
            "description": "用户角色",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "header",
            "description": "用户ID",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vin",
            "in": "header",
            "description": "车辆vin",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HU收藏信息实体类"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HU响应结果Ofboolean"
                }
              }
            }
          }
        }
      }
    },
    "/onlineradio/api/v1/collection/cancel": {
      "post": {
        "tags": [
          "收藏模块接口"
        ],
        "summary": "【vwasp-onlineradio-0152】取消收藏",
        "operationId": "cancelCollectionUsingPOST",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "语言：zh_CN,en_US;默认为中文",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户Token :“Bearer” + 英文空格 + access token",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json;charset=utf-8",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Unix time stamp",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "TraceId",
            "in": "header",
            "description": "全链路Id",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientOsType",
            "in": "header",
            "description": "设备类型: 1-IOS、 2-Android、 3-Web、 4-Linux/Server、 5-Ecos、 6-mini program",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "role",
            "in": "header",
            "description": "用户角色",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "header",
            "description": "用户ID",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vin",
            "in": "header",
            "description": "车辆vin",
            "required": true,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/HU收藏信息实体类"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HU响应结果Ofboolean"
                }
              }
            }
          }
        }
      }
    },
    "/onlineradio/api/v1/collection/get": {
      "get": {
        "tags": [
          "收藏模块接口"
        ],
        "summary": "【vwasp-onlineradio-0153】获取收藏列表",
        "operationId": "getCollectionUsingGET",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "语言：zh_CN,en_US;默认为中文",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "用户Token :“Bearer” + 英文空格 + access token",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json;charset=utf-8",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Timestamp",
            "in": "header",
            "description": "Unix time stamp",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "TraceId",
            "in": "header",
            "description": "全链路Id",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
[...]
